---
import FormHandler from "./FormHandler";
---

<section id="contacto" class="bg-gray-800 text-white py-12 px-6">
    <div class="max-w-7xl mx-auto text-center">
      <h2 class="text-3xl font-semibold mb-6">¡Contáctame!</h2>
      <p class="text-lg mb-8">Si tienes alguna pregunta o quieres colaborar, no dudes en enviarme un mensaje.</p>
      
      <FormHandler client:load />
      
    </div>
  </section>
  