---

---

<footer class="bg-gray-800 text-white py-8">
    <div class="max-w-7xl mx-auto px-6">
      <div class="flex justify-between items-center">
        <p class="text-lg">&copy; 2024 Ariane Vargas. Todos los derechos reservados.</p>
        <div class="space-x-6">
          <a href="https://github.com/ArianeVargas" class="hover:text-gray-300" title="GitHub">
            <i class="bx bxl-github text-2xl"></i>
          </a>
          <a href="https://www.instagram.com/ariane_h_vargas/" class="hover:text-gray-300" title="Instagram">
            <i class="bx bxl-instagram text-2xl"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  