---

---
<header class="flex justify-around items-center p-4 bg-gray-800 text-white">
    <h1 class="text-3xl font-bold">
      <a href="/" title="Ariane Vargas" class="hover:text-gray-300">Ariane Vargas</a>
    </h1>
    
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a href="#inicio" title="Inicio" class="hover:text-gray-300">Inicio</a>
        </li>
        <li>
          <a href="#proyectos" title="Proyectos" class="hover:text-gray-300">Proyectos</a>
        </li>
        <li>
          <a href="#contacto" title="Contacto" class="hover:text-gray-300">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>
