---
---
<section id="proyectos" class="section py-12 bg-gray-100">
    <h2 class="text-3xl font-semibold text-center text-gray-900">Proyectos</h2>
    <div class="flex flex-wrap justify-center mt-8 gap-10">

      <article class="bg-white p-1 rounded-3xl shadow-lg mb-4 w-full sm:w-1/2 lg:w-1/4 group">
        <a href="https://pokemonapi-dcda8.web.app" title="Pokemon API Project" class="block relative">
          <figure class="mb-4 rounded-3xl">
            <img src="../img/pokemon.webp" alt="Pokemon API" class="w-full h-auto rounded-3xl group-hover:opacity-50 transition-opacity duration-300">
          </figure>
          <div class="absolute inset-0 bg-white bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-3xl flex items-center justify-center">
            <h4 class="text-2xl font-semibold text-center text-gray-800 group-hover:font-bold transition-all duration-300">Pokemon API</h4>
          </div>
        </a>
      </article>

      <article class="bg-white p-1 rounded-3xl shadow-lg mb-4 w-full sm:w-1/2 lg:w-1/4 group">
        <a href="#" title="Gallery Project" class="block relative">
          <figure class="mb-4 rounded-3xl">
            <img src="../img/gal.webp" alt="Gallery" class="w-full h-auto rounded-3xl group-hover:opacity-50 transition-opacity duration-300">
            <div class="absolute inset-0 bg-white bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-3xl flex items-center justify-center">
              <h4 class="text-2xl font-semibold text-center text-gray-800 group-hover:font-bold transition-all duration-300">Galería</h4>
            </div>
          </figure>
        </a>
      </article>

    </div>
</section>